extends layout

block content
  div.header
    h1=title
    div.connect(onclick="ConnectWallet()") Connect Wallet
  div.display
    div.index
      a(href="/") Overview 
      a(href="list") PRC20 List 
      a(href="assets") Assets 
      a(href="market") Marketplace (Coming Soon)
    div.information
      h2 PRC20 Assets
      div.assetList INSCT
      div.assets
        div.assetsCard
          div.assetsName
            p INSCT
            p #000001
          div.assetsAmount 10,000
          div.assetsFunction
            div.assetsList List
            div.assetsBurn Burn
        div.assetsCard
          div.assetsName
            p INSCT
            p #000001
          div.assetsAmount 10,000
          div.assetsFunction
            div.assetsList List
            div.assetsBurn Burn
        div.assetsCard
          div.assetsName
            p INSCT
            p #000001
          div.assetsAmount 10,000
          div.assetsFunction
            div.assetsList List
            div.assetsBurn Burn
        div.assetsCard
          div.assetsName
            p INSCT
            p #000001
          div.assetsAmount 10,000
          div.assetsFunction
            div.assetsList List
            div.assetsBurn Burn
        div.assetsCard
          div.assetsName
            p INSCT
            p #000001
          div.assetsAmount 10,000
          div.assetsFunction
            div.assetsList List
            div.assetsBurn Burn



