extends layout

block content
  div.header
    h1=title
    div.connect(onclick="ConnectWallet()")#Wallet Connect Wallet
  div.display
    div.index
      a(href="/") Overview 
      a(href="list") PRC20 List 
      a(href="assets") Assets 
      a(href="market") Marketplace (Coming Soon)
    div.information
      div.head
        h2 Overview
        div.deploy(onclick="deployShow()")#deploy Deploy
      div.data
        div.dataCard
          p.dataLabel Total Inscriptions
          p.dataNumber 1,000,000,000
        div.dataCard
          p.dataLabel Total Addresses
          p.dataNumber 1,000,000,000
        div.dataCard
          p.dataLabel Total Transactions
          p.dataNumber 1,000,000,000
  p.love Power generation for ❤ 
  div.deployForm#deployForm(style="display:none")
    form().formContainer
      h2 Deploy Your Inscription 
      div.inputLine
        p.inputLabel Tick
        input#tick(placeholder="Input tick name")
      div.inputLine
        p.inputLabel Max
        input#max(placeholder="Input tick max")
      div.inputLine 
        p.inputLabel Lims 
        input#lims(placeholder="Input tick limits")
      button.submitDeploy Deploy 
