doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/indexStyle.css')
    link(rel='stylesheet', href='/stylesheets/listStyle.css')
    link(rel='stylesheet', href='/stylesheets/assetsStyle.css')
    link(rel='stylesheet', href='/stylesheets/marketStyle.css')
    script(src='/javascripts/logical.js')
    script(src='https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/cdn/metamask-sdk.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
  body
    block content
