extends layout

block content
  div.header
    h1=title
    div.connect(onclick="ConnectWallet()") Connect Wallet
  div.display
    div.index
      a(href="/") Overview 
      a(href="list") PRC20 List 
      a(href="assets") Assets 
      a(href="market") Marketplace (Coming Soon)
    div.information
      h2 PRC20 List
      table.listInfo
        tr
            td.listName Name 
            td.listST Start Time
            td.listTS Total Supply
            td.listProgress Progress 
            td.listMF Mint Fee (LAT)
            td.listAction(style="border-style:none") Action
        tr.listTR
                td.listName INSCT 
                td.listST 2024-01-01 00:00:00 UTC +08:00	
                td.listTS 10,000,000,000	
                td.listProgress 100.00 %	
                td.listMF 0.1
                td.listAction(onclick="isMint()")#id1 Mint    
        tr.listTR
                td.listName INSCT 
                td.listST 2024-01-01 00:00:00 UTC +08:00	
                td.listTS 10,000,000,000	
                td.listProgress 100.00 %	
                td.listMF 0.1
                td.listAction(onclick="isMint()")#id2 Mint

