extends layout

block content
  div.header
    h1=title
    div.connect(onclick="ConnectWallet()")#Wallet Connect Wallet
  div.display
    div.index
      a(href="/") Overview 
      a(href="list") PRC20 List 
      a(href="assets") Assets 
      a(href="market") Marketplace (Coming Soon)
    div.information
      h2 Mint
      