.ins20{
    width: 100%;
    text-align: center;
}

.ins20TR{
    width: 100%;
}

.ins20TD{
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
}
.mint{
    background-color: #3285ff;
    color: #ffffff;
    border-color: black;
}