body {
    /* 设置body字体大小 */
    margin: 0;
    font-family: Helvetica;
    font-size: 15px;
    text-transform: uppercase;

}

/* 重置ul li 和 a 的默认样式 */
ul li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    /*没有文本装饰*/
    color: inherit;
    /* 使得元素获取其父元素的 计算值 */
}

/* 设flex布局 */
nav {
    margin-top: 0px;
    /* 上边距 */
    width: 100%;

    display: flex-end;
    /* 弹性布局 */
    /* flex-start（默认值）：左对齐 flex-end：右对齐 center： 居中 space-between：两端对齐，项目之间的间隔都相等。 space-around：每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。 */
    justify-content: end;
}

/* 设菜单外层背景色、字体等 */
nav ul.navigation-menu {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: bisque;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px rgba(153, 78, 78, 0.1);

}

/* 一级菜单 */
nav ul.navigation-menu li {
    flex: 1;
    /* 让所有弹性盒模型对象的子元素都有相同的长度，且忽略它们内部的内容： */
}

nav ul.navigation-menu li a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 二级菜单 */
nav ul.navigation-menu li ul {
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 0px;
    background-color: blueviolet;
    flex-direction: column;
    perspective: 500px;
    box-shadow: none;

}

nav ul.navigation-menu li ul li {
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none;
    opacity: 0;
}

/* 表演 */
nav ul.navigation-menu li:hover {
    background-color: rgb(147, 165, 42);

}

nav ul.navigation-menu li:hover ul li {
    display: ;
    transition: all 0.3s ease-in-out;
}

nav ul.navigation-menu li:hover ul li:hover {
    background-color: rgb(26, 87, 13);
}

nav ul.navigation-menu li:hover ul li ul li {
    display: none;
}

nav ul.navigation-menu li:hover ul li:hover ul li {
    display: block;
}

/* 动画样式 */
nav ul.navigation-menu li:hover ul li:nth-child(1) {
    animation: menu -1 300ms ease-in-out 100ms forwards;
}

nav ul.navigation-menu li:hover ul li:nth-child(2) {
    animation: menu -1 300ms ease-in-out 200ms forwards;
}

nav ul.navigation-menu li:hover ul li:nth-child(3) {
    animation: menu -1 300ms ease-in-out 400ms forwards;
}

@keyframes menu-1 {
    0% {
        transform: translateY(20px)rotate(90deg);
        opacity: 0;

    }

    100% {
        transform: translateY(0px)rotateY(0deg);
        opacity: 1;
    }
}



element.style {}

@media (max-width: 640px) {
    .baner {
        padding: 2em 0;
    }
}

@media (max-width: 640px) {
    .baner {
        padding: 3em 0;
    }
}

@media (max-width: 991px) {
    .baner {
        padding: 3em 0 4em;
    }
}

@media (max-width: 1080px) {
    .baner {
        padding: 3em 0 6em;
    }
}

/* @media (max-width: 640px) .baner {
    padding: 3em 0;
} */
/* 
@media (max-width: 991px) .baner {
    padding: 3em 0 4em;
} */
/* 
@media (max-width: 1080px) .baner {
    padding: 3em 0 6em;
} */

.baner {
    padding: 3em 0 8em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

用户代理样式表 div {
    display: block;
}

body {
    margin: 0;
    font-family: 'Roboto-Regular';
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}