.assets{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.assetsCard{
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    height: 160px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    border-color: #f0f0f0;
    box-shadow: 5px 5px 5px #dddddd;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.assetsName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.assetsAmount{
    width: 100%;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}
.assetsFunction{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}
.assetsList{
    height: 24px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    background-color: #3285ff;
    color: #ffffff;
}
.assetsBurn{
    height: 24px;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    background-color: #ff3232;
    color: #ffffff;
}